:root {
  --title-color: #DDE6ED;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: heightAnimation .8s forwards;
}

.login-form-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  animation: heightAnimation .8s forwards;
}

.subheading {
  color: var(--title-color);
  font-size: calc(10px + 5vmin);
  margin: 20px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
}

.filler{
  height: 85px;
}

.show-password {
  text-align: left;
  margin: 5px 5px;
  color: var(--form-label-color);
  cursor: pointer;
  transition: color 0.3s;
}

.show-password:hover {
  color: white;
}

.form-icon {
  margin: 0 5px;
}